img {
    height: 35vh;
    width: 100%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;   
}
.card {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

label
{
	font-size: 30px;
}

